body {
  margin: 0px
}

.inputs {
  font-size: 150%;
  font-family: "MochiyPopOne-Regular";
}

.startButts {
  background-color: black;
  color: goldenrod;
  font-size: 200%;
  font-family: "MochiyPopOne-Regular";
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.startButts:hover {
  background-color: goldenrod;
  color: rgb(112,16,15);
}